<h5 class="text-gray-500 text-sm font-medium mb-2">Pending invitations</h5>
<div class="grid grid-cols-12">
  <div class="col-span-12 lg:col-span-4 flex space-x-4 items-center shadow bg-white rounded-xl p-2">
    <div class="w-20 h-20 rounded-xl bg-black p-2 flex-shrink-0">
      <img class="object-contain h-full w-full" src="assets/img/semmie_logo.png" />
    </div>
    <div class="block flex-grow">
      <h3 class="font-semibold">Gym Spullen</h3>
      <p class="text-sm text-gray-500">Lorem ipsum dolor sit amet, consec tetur adipisicing elit.</p>
    </div>
    <div class="text-gray-400 px-2">
      <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7"></path>
      </svg>
    </div>
  </div>
</div>
