<ng-container
  *ngIf="{
    account: account$ | async,
    initialInvestment: initialInvestment$ | async,
    currentBalance: currentBalance$ | async,
    loading: loading$ | async,
    total: total$ | async,
    history: history$ | async
  } as ctx"
>
  <ng-container *ngIf="ctx.loading; else detailTpl"></ng-container>
  <ng-template #detailTpl>
    <div class="py-8">
      <sem-account-header [account]="ctx.account"></sem-account-header>
      <div class="flex flex-wrap overflow-hidden mt-8">
        <div class="w-full overflow-hidden md:w-2/5 lg:w-2/5 xl:w-2/6 pr-4">
          <div class="flex flex-col space-y-8">
            <sem-account-goal [account]="ctx.account" [current]="ctx.currentBalance"></sem-account-goal>
            <sem-account-current
              [account]="ctx.account"
              [initial]="ctx.initialInvestment"
              [current]="ctx.currentBalance"
              [total]="ctx.total"
            ></sem-account-current>
          </div>
        </div>

        <div class="w-full overflow-hidden md:w-3/5 lg:w-3/5 xl:w-4/6 pl-4">
          <sem-account-chart [history]="ctx.history" [current]="ctx.currentBalance"></sem-account-chart>
        </div>
      </div>
    </div>
  </ng-template>
</ng-container>
